<h1>Page d'édtition des droits</h1>

<h2>Créer un nouveau droit</h2>
<p>
  <%= form_tag "/droit/create", method: :post do %>

  <table class="table table-hover">
    <tr>
      <th>Role</th>
      <th>Lecture</th>
      <th>Confidentiel</th>
      <th>Admin</th>
    </tr>
      <tr>
        <td><input type="text" name="role"/></td>
        <td><input type="checkbox" name="lecture" /></td>
        <td><input type="checkbox" name="confidentiel"/></td>
        <td><input type="checkbox" name="admin"/></td>
      </tr>
  </table>

    <input type="submit" value="Valider"/>
  <% end %>
</p>

<h2>Editer les droits existants</h2>
<table class="table table-hover">
  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Lecture</th>
    <th>Confidentiel</th>
    <th>Admin</th>
  </tr>
  <% @droits.each do |droit| %>
    <tr>
      <td><%= droit.id %></td>
      <td><%= droit.role %></td>
      <td><input type="checkbox" name="lecture" /></td>
      <td><input type="checkbox" name="confidentiel"/></td>
      <td><input type="checkbox" name="admin"/></td>
    </tr>
  <% end %>
</table>
