<h1>Bienvenue sur le site Lorcyber</h1>
<h1>Connexion</h1>

<%= form_tag "/welcome/index", method: :post do %>
  <input type="text" name="name" />
  <input type="password" name="password" />
  <input type="submit" value="Se connecter" />
<% end %>

<div><%= flash[:info] %></div>