

// Breakpoints & grids
$medium-screen: 768px;
$large-screen: 960px;
$larger-screen: 1200px;
$grid-gutter: 2em;

// Typography
$heading-font-family: 'Montserrat', sans-serif;

// Font Sizes
$base-font-size: 0.9em;
$base-tablet-font-size: 0.8em;
$base-mobile-font-size: 0.7em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$navbar-height: 95px;

// Colors
$blue: #78d2d2;
$orange: #d56b39;
$red: #e2583d;
$dark-gray: #3b3939;
$medium-gray: #606b75;
$light-gray: #e6e7e8;

// Font Colors
$main-color: $orange;
$base-font-color: $medium-gray;
$action-color: $orange;
$menu-color: $medium-gray;
$menu-hover-color: $orange;
$menu-alt-color: white;
$menu-alt-hover-color: $orange;
$menu-mobile-color: white;
$menu-mobile-background: $orange;

// Border
$base-border-color: $main-color;
$base-border: 8px solid $base-border-color;
$base-border-input: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
$slide-duration: .5s;


button {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

.call-to-action{
  margin: 2rem 0;

  a{
    text-align: center;
  }
}

.btn{
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: 1px solid $orange;
  color: $orange;
  font-weight: 700;
  font-family: $heading-font-family;

  &:hover{
    border-color:$orange;
    background: $orange;
    color: white;
  }
}
.orange .btn{
  border-color: white;
  color: white;

  &:hover{
    border-color: white;
    background: white;
    color: $orange;
  }
}
.blue .btn{
  border-color: $blue;
  color: $blue;
  background: white;

  &:hover{
    background: $blue;
    color: white;
  }
}
.red .btn{
  border-color: $red;
  color: $red;
  background: white;

  &:hover{
    background: $red;
    color: white;
  }
}
.dark .btn{
  border-color: $dark-gray;
  color: $dark-gray;
  background: white;

  &:hover{
    background: $dark-gray;
    color: white;
  }
}

a {
  color: $medium-gray;
}

.navbar-brand {
  background: white;
}