// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$orange: #d56b39;
$action-color: $orange;
a, a:hover {
  background-color: shade($action-color, 20%);
  color: blue;
}

h1,
h2,
h3 {
  color: $orange;
  margin: auto;
  text-align: center;
}

form {
  text-align: center;

}
